body {
    background-color:blue;
}
.botao {
    background-color:red;
    color:white;
    border:0px;
    padding:20px;
}
.galeria, .flip, .flash {
    background-color:#000;
    background-repeat:no-repeat;
    background-position:center;
}

.galeria {
    background-image: url('../images/img1.jpg');
}
.flip {
    background-image:url('../images/img2.jpg');
}
.flash {
    background-image:url('../images/img3.jpg');
}